{% extends 'main.html' %}
{% block content %}
    <div class="row"  style="margin-bottom: 477px;">
        <div class="col-md-3"></div>

            <center>
            <div class ="row"> 
             <div class ="column"> 
                <h3> Uploaded image </h3>
                <img src = {{src_input}} alt="" class="input_image" width="300" height="300">
            </div> 
            <div class="column"> 
                <h3> Result </h3>
                <img src = {{src_output}} alt="" class="output_image" width="300" height="300">
            </div>
            </div>
             </center>

        <div class="col-md-3"></div>
    </div> -->
{% endblock %}